<div class="box-flyout" style="height: {{height}}px">
    <div class="row" style="height: 50px;">
        <div class="col-xs-6 col-md-3" style="height:inherit;">
            <a href="#" class="thumbnail" style="height:inherit;">
                <img src="http://www.futbol24.com/upload/team/Denmark/BK-Avarta.png" id="chatUserAvatar" style="height:inherit;"/>
            </a>
        </div>
    </div>
    <div class="dragresize dragresize-tm"></div>
    <div class="chat-head controlbox-head">
        <ul id="controlbox-tabs"></ul>
        <a class="close-chatbox-button icon-close"></a>
    </div>
    <div class="controlbox-panes"></div>
</div>
